<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <!-- 공통 속성 -->
    <Properties>
        <property name="patternLayout">[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c] - %m%n</property>
    </Properties>

    <Appenders>
        <!--콘솔-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level %logger{35} - %m%n"/>
        </Console>

        <!-- 파일 -->
        <RollingFile name="rollingFile"
                     fileName="logs/moim_log.log"
                     filePattern="logs/moim_log_%d{yyyy-MM-dd HH:mm:ss}.%i.log">
            <PatternLayout pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>

            <DefaultRolloverStrategy max="5" fileIndex="min">
                <Delete basePath="/logs" maxDepth="1">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Logger name = "org.springframework" level="INFO" additivity="false">
            <AppenderRef ref = "console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Logger name="com.example.beside" level="INFO" additivity="false">
            <AppenderRef ref = "console"/>
            <AppenderRef ref = "rollingFile"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>